<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<table>
  <tr>
    <td>썸네일 :</td>
    <td><img th:src="${list[0]}"></td>
  </tr>
  <tr>
    <td>이름 :</td>
    <td th:text="${list[1]}"></td>
  </tr>
  <tr>
    <td>이메일 :</td>
    <td th:text="${list[2]}"></td>
  </tr>
  <tr>
    <td>생일 :</td>
    <td th:text="${list[3]}"></td>
  </tr>
</table>
<script>
  alert('카카오 계정 회원가입 완료 !');
  location.href="http://13.209.64.218:8080/member/login";
</script>
</body>
</html>