
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>LMS</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <style>
        span.price {
            text-decoration: line-through;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(function() {

            $('#submitForm').on('submit', function() {

                if (!confirm('수강 신청을 하시겠습니까?')) {
                    return false;
                }

                var $thisForm = $(this);

                var url = '/api/course/req.api';
                var parameter = {
                    courseId: $thisForm.find('input[name=id]').val()
                };
                axios.post(url, parameter).then(function(response) {
                    console.log(response);
                    console.log(response.data);

                    response.data = response.data || {};
                    response.data.header = response.data.header || {};

                    if (!response.data.header.result) {
                        alert(response.data.header.message);
                        return false;
                    }

                    //정상적일때
                    alert(' 강좌가 정상적으로 신청되었습니다. ');
                    location.href = '/course';


                }).catch(function(err) {
                    console.log(err);
                });

                return false;
            });

        });
    </script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"><img src="/image/013.png" alt="로고" /></div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/member/info">회원 정보 수정</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/member/password">비밀번호 변경</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/member/takecourse">내 수강 목록</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/course">수강 신청</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">메인으로</a>

        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-light" id="sidebarToggle"><img src="/image/004.gif" alt="로고" style="width:50px; height:50px"/></button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item me-3"><a class="nav-link" href="#"><td th:text="${detail1.userName}"/>님</a></li>
                        <li class="nav-item dropdown me-3">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/">User</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin/member/list.do">admin</a>



                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/member/logout">Logout</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">

            <table class="table">
                <tbody>
                <tr>

                    <th>강좌명</th>
                    <td>
                        <p  th:text="${detail.subject}"></p>

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>가격</th>
                    <td>
                        <p class="text-decoration-line-through" th:text="${detail.price}"></p>
                    </td>
                </tr>
                <tr>
                    <th>할인가격</th>
                    <td>
                        <p th:text="${detail.salePrice}"></p>
                    </td>
                </tr>
                <tr>
                    <th>설명</th>
                    <td>
                        <p th:text="${detail.summary}"></p>
                    </td>
                </tr>


                </tbody>
            </table>

            <div>
                <form id="submitForm" method="post">
                    <input type="hidden" name="id" th:value="${detail.id}"/>
                    <button type="submit" class="btn btn-primary">수강신청</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='/course'">강좌목록</button>

                </form>

            </div>



        </div>
    </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
 </body>
</html>
