
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>LMS</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <style>
        span.price {
            text-decoration: line-through;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"><img src="/image/013.png" alt="로고" /></div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/member/info">회원 정보 수정</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/member/password">비밀번호 변경</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/member/takecourse">내 수강 목록</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/course">수강 신청</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">메인으로</a>

        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-light" id="sidebarToggle"><img src="/image/004.gif" alt="로고" style="width:50px; height:50px"/></button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item me-3"><a class="nav-link" href="#"><td th:text="${detail.userName}"/>님</a></li>
                        <li class="nav-item dropdown me-3">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/">User</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin/member/list.do">admin</a>



                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/member/logout">Logout</a></li>

                    </ul>
                </div>
            </div>
        </nav>


        <!-- Page content-->
        <div class="container" >
            <div class="row">


                <div class="col -4" th:each="x : ${list}">
                    <div class="card mt-3" style="width: 15rem;">
                        <img class="card-img-top mt-3" th:src="${x.contents}" width=50px height=150px alt="Card image cap">
                        <div class="card-body " width=100px; height=100px>
                            <h5 class="card-title" th:text="${x.subject}">Card title</h5>
                            <p class="price text-decoration-line-through" th:text="${x.price}" >10000</p>
                            <p th:text="${x.salePrice}"> 10000</p>
                            <a th:href="'/course/' + ${x.id}" class="btn btn-primary">수강신청</a>
                        </div>
                    </div>

                </div>



            </div>

        </div>























    </div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
