<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border:solid 1px #000;
        }

        p.nothing {
            text-align: center;
            padding: 100px;
        }

        .inline-div {
            display: inline-block;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            $('form[name=deleteForm]').on('submit', function() {
                if (!confirm(' 카테고리를 삭제하시겠습니까? ')) {
                    return false;
                }
            });


            $('button.update-button').on('click', function() {

                if (!confirm('카테고리를 수정하시겠습니까?')) {
                    return false;
                }

                var $this = $(this);
                var $tr = $this.closest('tr');

                var id = $tr.find('input[name=id]').val();
                var categoryName = $tr.find('input[name=categoryName]').val();
                var sortValue = $tr.find('input[name=sortValue]').val();
                var usingYn = $tr.find('input[type=checkbox]')[0].checked;

                $updateForm = $('form[name=updateForm]');
                $updateForm.find('input[name=id]').val( id );
                $updateForm.find('input[name=categoryName]').val( categoryName );
                $updateForm.find('input[name=sortValue]').val( sortValue );
                $updateForm.find('input[name=usingYn]').val( usingYn );
                $updateForm.submit();
            });

        });
    </script>
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"><img src="/image/002.png" alt="로고" /></div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/member/list.do">회원 관리</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/category/list.do">카테고리 관리</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/course/list.do">강좌 관리</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/takecourse/list.do">수강 관리</a>

        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-light" id="sidebarToggle"><img src="/image/002.png" alt="로고" style="width:50px; height:50px"/></button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/member/logout">Logout</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <div class="list">

                <div>
                    <form method="post" action="/admin/category/add.do">
                        <input type="text" name="categoryName" required placeholder="카테고리명 입력"/>
                        <button type="submit" class="btn btn-primary">추가</button>
                    </form>
                </div>

                <table >
                    <thead>
                    <tr>
                        <th> ID</th>
                        <th>
                            카테고리명
                        </th>
                        <th>
                            순서
                        </th>
                        <th>
                            사용여부
                        </th>
                        <th>
                            비고
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="x : ${list}">
                        <td th:text="${x.id}">
                            <input type="hidden" name="id" th:value="${x.id}"/>
                            <p th:text="${x.id}">1</p>
                        </td>
                        <td>
                            <input th:value="${x.categoryName}" type="text" name="categoryName"/>
                        </td>
                        <td>
                            <input th:value="${x.sortValue}" type="text" name="sortValue"/>
                        </td>
                        <td>
                            <input th:checked="${x.usingYn}" type="checkbox" th:id="'usingYn_' + ${x.id}" th:name="'usingYn_' + ${x.id}" value="true"/>
                            <label th:for="'usingYn_' + ${x.id}">사용</label>
                        </td>
                        <td>
                            <div class="inline-div">
                                <button class="update-button btn-primary" type="button" >수정</button>
                            </div>
                            <div class="inline-div">
                                <form name="deleteForm" method="post" action="/admin/category/delete.do">
                                    <input type="hidden" name="id" th:value="${x.id}"/>
                                    <button type="submit">삭제</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${#lists.size(list) < 1}">
                        <td colspan="5" >
                            <p class="nothing">내용이 없습니다.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
<form name="updateForm" method="post" action="/admin/category/update.do">
    <input type="hidden" name="id"/>
    <input type="hidden" name="categoryName"/>
    <input type="hidden" name="sortValue"/>
    <input type="hidden" name="usingYn" />
</form>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
</body>
</html>
